{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}"/>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="col-md-10">
<h1>{{ title }}</h1>
    {{instance.content }} <br/>
Created : {{instance.timestamp }} <br/>
Updated : {{instance.updated }} <br/>
    </div>
<script type="text/javascript" href="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>