<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="create">
    </form>

</body>
</html>