{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if object_list %}
    <div class="container col-md-10 col-md-push-1">

    {% for obj in object_list %}
        <h2><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
            <small>{{ obj.timestamp | timesince }}</small>
        </h2>
        {% if obj.user.get_full_name %}
            {{ obj.user.get_full_name }}<br>
        {% endif %}
        {{ obj.content | truncatechars:100 }}<br>
        {% for cat in obj.category.all %}
        {{ cat }}<br>
        {%  endfor %}

        created :{{ obj.timestamp }}<br>
        Updated:{{ obj.updated }} <br>

    {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endif %}
<div class="container col-md-2" style="position: fixed;top: 0;right: 0;padding-top: 3%">
    {% for category in category_list %}
        {#        {{ category }} {{ category.id }}<br>#}
        <a href="{% url 'filter-post' category.id %}">{{ category }}</a><br>
    {% endfor %}
</div>
<script type="text/javascript" href="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>